@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Dela+Gothic+One&family=Inter:wght@300&family=Kenia&family=Libre+Baskerville&family=Poppins&family=Teko:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Dela+Gothic+One&family=Fjalla+One&family=Inter:wght@300&family=Kenia&family=Libre+Baskerville&family=Poppins&family=Teko:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  transition: 0.5s ease;
}

@media screen and (max-width: 600px) {
  .main {
    max-width: 480px;
    margin: auto;
  }
}

/* Section 1 */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.913);
  color: white;
  height: 50px;
  font-weight: 700;
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  header {
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 2px;
  }
}

/* Section 2 */

.intro-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.267);
}

#logo {
  margin-right: 15%;
}

.hamburger-menu {
  display: flex;
}

.hamburger-menu a:hover {
  color: rgb(209, 22, 197);
  transition: 0s ease;
}

.hamburger-menu p {
  text-align: center;
}

#menu-icon {
  height: 40px;
  width: 40px;
  display: none;
  margin-left: 2%;
}

.intro-area a {
  text-decoration: none;
  color: #121212e6;
  margin-left: 20px;
}
