body {
  margin: 0;
  padding: 0;
}

/* SECTION 1 */

.part1 {
  height: 600px;
  width: 100%;
  background-size: cover;
  background-image: url(./mario-gogh-VBLHICVh-lI-unsplash.jpg);
}

.head-pane-logo img {
  height: 60px;
}

#welcome {
  font-size: 25px;
}

.main-content-part1 span {
  color: red;
}

.head-pane {
  display: flex;
  justify-content: space-evenly;
  height: 75px;
  align-items: center;
  background-color: rgba(80, 65, 59, 0.37);
}

.main-content-part1 {
  color: rgb(249, 249, 249);
  font-weight: 700;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.head-pane-items a {
  text-decoration: none;
  color: white;
  margin-left: 8px;
}

#read-more-button {
  height: 40px;
  width: 130px;
  color: white;
  background-color: rgba(224, 52, 52, 0.84);
  border: 0px;
  border-radius: 5px;
}

/* SECTION 2 */

.about-us {
  text-align: center;
}

.about-us-2 {
  color: red;
}

.main-content-part1 p {
  width: 50%;
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
}

.PART2-2 button {
  height: 40px;
  width: 150px;
  color: white;
  background-color: rgba(224, 52, 52, 0.84);
  border: 0px;
  border-radius: 5px;
}

.PART2 {
  display: flex;
  justify-content: space-evenly;
}

.PART2-1 {
  margin-left: 2%;
  background-image: url(./tim-van-der-kuip-CPs2X8JYmS8-unsplash.jpg);
  height: 300px;
  width: 800px;
  background-size: cover;
}

.inside-img-text {
  height: 50px;
  position: relative;
  top: 215px;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.541);
}

.inside-img-text span {
  color: white;
  font-size: 2rem;
}

.inside-img-logo span a {
  text-decoration: none;
  color: white;
  margin-right: 40px;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.651);
  border-radius: 50%;
}

.inside-img-logo {
  height: 34px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 215px;
  background-color: rgba(0, 0, 0, 0.541);
  margin-bottom: 10px;
}

.PART2-2 {
  margin-left: 2%;
  margin-right: 3%;
}

/* SECTION 3 */

video {
  height: 300px;
  width: 100px;
}

/*  SECTION 4 */

.services-items {
  display: flex;
  flex-wrap: wrap;
}

.set10 i {
  font-size: 40px;
  text-align: center;
  color: red;
}

.set10 h3 {
  text-align: center;
}

.set10 p {
  text-align: center;
}
.set10 {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 250px;
  margin-left: 7%;
  margin-right: 3%;
}

/* SECTION 5 */

.myskill-section {
  height: 450px;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.425);
}

.myskill {
  display: flex;
  justify-content: center;
  margin-left: 2%;
  margin-right: 2%;
}


.myskill1 {
  margin-right: 10px;
}

.bar {
  background-color: black;
  height: 20px;
  width: 100%;
}

.bar1 {
  background-color: red;
  width: 60%;
  height: 20px;
}

.bar2 {
  background-color: red;
  width: 85%;
  height: 20px;
}

.bar3 {
  background-color: red;
  width: 70%;
  height: 20px;
}

.bar1 p,
.bar2 p,
.bar3 p {
  color: white;
  text-align: end;
  position: relative;
  
}

/* SECTION 6 */

.image-section {
  background-image: url(./coffee-latte-with-cookies-coffiee-beans.jpg);
  height: 250px;
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  font-size: 20px;
  text-align: center;
}

.img-section1 i,
.img-section2 i,
.img-section3 i,
.img-section4 i {
  border: 1px solid white;
  border-radius: 50%;
  padding: 10%;
}

/* SECTION 7 */

.portfolio {
  text-align: center;
}

.portfolio1 {
  display: inline;
}

.portfolio1 a {
  text-decoration: none;
  color: rgb(112, 110, 110);
  margin-right: 1%;
}

.portfolio-pic1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 5%;
}

.portfolio-pic1 img {
  height: 300px;
  width: 300px;
  margin: 2%;
}

/* SECTION 8 */

.myteam-pics {
  display: flex;
  justify-content: center;
}

.myteam-pics div img {
  height: 150px;
  padding: 0;
  background-color: aqua;
}

.pic {
  border-bottom: 5px solid red;
  margin-right: 2%;
}
